@layer components {
    .about-product-section {
        background-color: var(--color-white);
    }

    .about-product-grid {
        @apply flex flex-col lg:flex-row items-center justify-between gap-0 md:gap-10 lg:gap-28;
    }

    .about-product-video {
        @apply w-full lg:w-1/2 relative aspect-video rounded-xl overflow-hidden shadow-xl ring-1 ring-gray-400/10 mt-10 lg:mt-0;
        order: 2;
    }

    .about-product-text {
        @apply w-full lg:w-1/2 max-w-xl text-left;
        order: 1;
    }

    .about-product-subtitle {
        @apply text-primary font-medium text-lg mb-2;
    }

    .about-product-title {
        @apply leading-tight;
        font-family: var(--font-heading);
        background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .about-product-description {
        font-size: var(--font-size-lg);
    }

    .video-iframe {
        @apply w-full h-full border-0;
    }

    @media (min-width: 1024px) {
        .about-product-video {
            order: 1;
        }

        .about-product-text {
            order: 2;
        }
    }
}
