@layer components {
    .about-team-section {
        background-color: var(--color-white);
    }

    .about-team-grid {
        @apply flex flex-col lg:flex-row items-center justify-between gap-0 md:gap-10 lg:gap-28;
    }

    .about-team-text {
        @apply w-full lg:w-1/2 max-w-xl text-left;
    }

    .about-team-title {
        @apply leading-tight;
        font-family: var(--font-heading);
        background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .about-team-description {
        font-size: var(--font-size-lg);
    }

    .about-team-video {
        @apply w-full lg:w-1/2 relative aspect-video rounded-xl overflow-hidden shadow-xl ring-1 ring-gray-400/10 mt-10 lg:mt-0;
    }

    .video-iframe {
        @apply w-full h-full border-0;
    }
}
