@layer components {
    .features-section {
        background-color: var(--color-white);
    }

    .features-bg {

    }

    .feature-image-wrapper {
        @apply flex justify-center;
    }

    .feature-image {
        @apply max-w-full h-auto rounded-4xl shadow-md;
    }

    .feature-content {
        @apply text-left;
    }

    .feature-title {
        @apply mb-4;
        background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
        font-size: var(--font-size-4xl);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

    .feature-description {
        @apply mb-6;
        color: var(--color-muted);
        font-size: var(--font-size-lg);
    }

    .feature-list {
        @apply space-y-3;
    }

    .feature-list li {
        @apply flex items-start gap-3 text-gray-800;
        font-size: var(--font-size-lg);
    }

    .icon-check {
        @apply text-green-600 font-bold mt-0 w-5 h-5 shrink-0;
    }

/*    .hero-bg {
        background-color: var(--color-hero-bg);
        background-image:
                radial-gradient(circle at 20% 30%, var(--color-light1) 0%, transparent 20%),
                radial-gradient(circle at 80% 25%, var(--color-light2) 0%, transparent 25%),
                radial-gradient(circle at 70% 70%, var(--color-light3) 0%, transparent 20%),
                radial-gradient(circle at 30% 80%, var(--color-light4) 0%, transparent 20%),
                radial-gradient(circle at 50% 50%, var(--color-light5) 0%, transparent 25%);
        will-change: background-position, filter;
        background-size: 200% 200%;
        background-repeat: no-repeat;
        !*animation:
                floatBackground 10s ease-in-out infinite,
                pulseLights 6s ease-in-out infinite;*!
    }

    .mask-gradient-diagonal {
        -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
        mask-image: linear-gradient(to right, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
    }


    @keyframes floatBackground {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0 0;
        }
    }

    @keyframes pulseLights {
        0%, 100% {
            filter: brightness(1);
        }
        50% {
            filter: brightness(1.05);
        }
    }*/
}