@layer components {
    .highlighted-message-section {
        background-color: var(--color-white);
    }

    .highlighted-line {
        @apply border-1 mx-auto w-[40%];
        border-color: var(--color-secondary);
    }

    .highlighted-message-grid {
        @apply grid grid-cols-1 md:grid-cols-2 gap-12 xl:gap-28 items-center px-4 py-16 my-0 xl:my-8 text-center md:text-left;
    }

    .highlighted-title {
        @apply leading-tight md:text-right;
        background-image: linear-gradient(to right, var(--color-primary), var(--color-secondary));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-size: var(--font-size-5xl);
    }

    .highlighted-subtitle {
        @apply leading-relaxed md:text-left;
        font-size: var(--font-size-xl);
        font-family: var(--font-heading);
    }
}
